<div class="container">
    <div class="row">
        <div>
            <label for="seach">Search</label>
            <input type="search" #searchTerm>
            <button (click)="search(searchTerm.value)" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="card-deck row">
        <div *ngFor="let item of artists" class="col-xs-12 col-sm-6 col-md-4">
            <app-artist-tile [artist]="item"></app-artist-tile>
        </div>
    </div>
    <div class="row" *ngIf="loading">
        Loading...
    </div>
</div>